<div class="yellow">
    <div class="hidden-menu d-flex" *ngIf="hiddenMenuShow">
        <div class="d-flex hidden-menu-header">
            <img class="hidden-menu-logo" src="../assets/logo-white.svg" alt="Company logo">
            <div class="close-icon" (click)="onCloseMenuClick()">&#x2715;</div>
        </div>
        <div class="hidden-menu-items">Home</div>
        <div class="hidden-menu-items">What we do</div>
        <div class="hidden-menu-items">About us</div>
        <div class="hidden-menu-items">Our history</div>
        <div class="hidden-menu-items">Contact us</div>
        <div class="hidden-menu-category"> services </div>
        <div class="hidden-menu-items">Training and Implementation</div>
        <div class="hidden-menu-items">Cyber Consultants</div>
        <div class="hidden-menu-items">Consultancy and brand protection</div>
        <div class="hidden-menu-items">Software</div>

    </div>
    <div class="navbar d-flex">
        <div>
            <img src="../assets/logo-white.svg" alt="Company logo">
        </div>
        <nav class="d-flex">
            <div class="menu-item">Home</div>
            <div class="menu-item">About Us</div>
            <div class="menu-item">What we do</div>
            <div>
                <button>Contact us</button>
            </div>
        </nav>
        <div class="mobile-menu" (click) = "onMenuClick()">
            <img src="../assets/menu-hidden.svg" alt="Menu icon">
        </div>
    </div>
    <div class="content d-flex">
        <div>
            <div class="content-title to-upper-case">
                Never Caught Off-Guard Again</div>
            <div class="main-content content-text">
                We are specialist in protecting your assets and reputation to make sure you operate risk-free and focus on your core business.
            </div>
            <div class="main-content">
                <button class="learn-more">Learn more</button>
            </div>
            <div class="main-content scroll">
                &#10229; Scroll
            </div>
        </div>
        <div class="content-image">
            <img  src="../assets/space-helmetf.webp" alt="Space helmet">
        </div>
    </div>
</div>
<div class="white">
    <div class="d-flex form-title-and-button">
        <div class="form-title">
            <span>contact</span>
            us
        </div>
        <div>
            <a href="#">
                <img src="../assets/arrow-up.svg" alt="Arrow up" width="50" height="50">
            </a>
        </div>
    </div>
    <div>
        <app-form></app-form>
    </div>
</div>